<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/css/module.css">
    <title>Truthy Weather</title>
</head>
<html>
  <body>
    <header>
      <video autoplay muted loop id="myVideo">
        <source src="/video/Raindrops_Videvo.mp4" type="video/mp4">
      </video>
      <h1>Truthy Weather</h1>
      <aside>
        <input name="getWeatherInput" type="text" placeholder="Enter a city">
        <button>Saved Locations</button>
        <button id="getWeatherButton">Get Weather</button>
        <ul>
          <% cities.forEach(city => { %>
            <li><%= city.city_name %></li>
          <% }); %>
        </ul>
      </aside>
    </header>
    <main>
      <section class=avg>
        <div id="current"><%= obj.current %></div>
        <div id="meter"><%= obj.confidence %></div>
        <div id="forecast">{{../forecast}}</div>
      </section>
      <article>
        <div class=api>
          <ul>
            <h2><%= obj.temp %></h2>
            <li><%= obj.windSpeed %></li>
            <li><%= obj.windDir %></li>
            <li><%= obj.desc %></li>
          </ul>
        </div>
      </article>
      <footer>
        <nav>
          <ul>
            <li><a href="https://www.qries.com/"><img alt="Qries" src="img/facebook.png" height="40"></a></li>
            <li><a href="https://www.qries.com/"><img alt="Qries" src="img/instagram.png" height="40"></a></li>
            <li><a href="https://www.qries.com/"><img alt="Qries" src="img/twitter.png" height="40"></a></li>
            <li><a href="https://www.qries.com/"><img alt="Qries" src="img/pintrest.png" height="40"></a></li>
          </ul>
        </nav>
      </footer>
    </main>
    <script src="../../server.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>